{% include 'headerstuff.html' %}
{% load static %}
{{ status }}

<html>

<head>
    <link rel="stylesheet" href="{% static 'css/gridstuff.css' %}">
</head>

<body>

    <h2>Grid</h2>
    Select boxes to be unloaded or click "Load" to enter containers to load.

    <button>Load</button>

    <div id='box-grid-init' style='text-align:center;'>
    </div>

    <script type='text/javascript'>

        var div = document.getElementById('box-grid-init');
        div.className = 'box-grid';

        var m_status = {{ status }};

        for(let i = m_status.length - 1; i >= 0; i--) {
            var grow = div.appendChild(document.createElement('tr'));
            for(let j = 0; j < m_status[0].length; j++) {
                var box = grow.appendChild(document.createElement('td'));

                box.setAttribute('box-state', 'no-select');
                box.setAttribute('row', i);
                box.setAttribute('col', j);

                if(m_status[i][j] == 1) {
                    box.className = 'no';
                    box.innerText = 'Select\n[' + (i+1) + ',' + (j+1) + ']';

                    box.addEventListener('click', function(event){
                        event.preventDefault();
                        if(this.getAttribute('box-state') == 'no-select'){
                            this.innerText = 'Remove\n[' + (i+1) + ',' + (j+1) + ']';
                            this.className = 'yes';
                            this.setAttribute('box-state', 'yes-select');
                        } else if(this.getAttribute('box-state') == 'yes-select'){
                            this.innerText = 'Select\n[' + (i+1) + ',' + (j+1) + ']';
                            this.className = 'no';
                            this.setAttribute('box-state', 'no-select');
                        }
                    });
                }
                else if(m_status[i][j] == 0) {
                    box.className = 'empty';
                    box.innerText = 'Empty\n[' + (i+1) + ',' + (j+1) + ']';;
                }
                else if(m_status[i][j] < 0) {
                    box.className = 'na';
                    box.innerText = 'N/A\n[' + (i+1) + ',' + (j+1) + ']';;
                }
            }
        }
    </script>
</body>

</html>