{% include 'headerstuff.html' %}
{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/gridstuff.css' %}">
</head>

<body>
    <h2>Grid</h2>
    Select boxes to be unloaded or click "Load" to enter containers to load.

    <button>Load</button>

    <div id='box-grid-init' style='text-align:center;'>
    </div>

    <script src='../jquery/jquery-3.7.1.min.js'></script>

    <script type='text/javascript'>

        var div = document.getElementById('box-grid-init');
        div.className = 'box-grid';
        for(let i = 0; i < 8; i++) {
            var grow = div.appendChild(document.createElement('tr'));
            for(let j = 0; j < 12; j++) {
                var box = grow.appendChild(document.createElement('td'));

                box.setAttribute('box-state', 'no-select');
                box.setAttribute('row', i);
                box.setAttribute('col', j);
                box.className = 'no';
                box.innerText = 'Select\n[' + (i+1) + ',' + (j+1) + ']';

                box.addEventListener('click', function(event){
                    event.preventDefault();
                    if(this.getAttribute('box-state') == 'no-select'){
                        /*
                        $.ajax({ type: "POST", url: "/run_cotton", data: {
                            in_bot_mode: $("#in_bot_mode").val(), 
                            in_gen_mode: $("#in_gen_mode").val(), 
                            in_r_author: $("#in_r_author").val()
                        }});
                        */
                        this.innerText = 'Remove\n[' + (i+1) + ',' + (j+1) + ']';
                        this.className = 'yes';
                        this.setAttribute('box-state', 'yes-select');
                    } else if(this.getAttribute('box-state') == 'yes-select'){
                        // $.ajax({ type: "POST", url: "/close_cotton" });
                        this.innerText = 'Select\n[' + (i+1) + ',' + (j+1) + ']';
                        this.className = 'no';
                        this.setAttribute('box-state', 'no-select');
                    }
                });
            }
        }
    </script>
</body>

</html>