{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/headerstuff.css' %}">
    <title>S&L Software: PlanMaster</title>
</head>
<body>
    <div class="HeaderBar">
        <h1 class="Title">S&L Software: PlanMaster</h1>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <a href="#">Menu</a>
                    <ul>
                        <li><a href="/settings">Settings</a></li>
                        <li><a href="/settings">Tutorial</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>
